@charset "UTF-8";
:root {
  /* === color =========================== */
  --color-base: #e4eade;
  --color-accent: #0a0a0a;
  --color-line: #333;
  --color-line-right: #acacac;
  /* === spacing ========================== */
  --space-xxs: clamp(0.3rem, 0.162rem + 0.69vw, 0.75rem);
  --space-xs: clamp(1rem, 0.908rem + 0.46vw, 1.3rem);
  --space-s: clamp(1.5rem, 1.056rem + 2.22vw, 3rem);
  --space-m: clamp(2rem, 1.704rem + 1.48vw, 3rem);
  --space-l: clamp(3rem, 2.407rem + 2.96vw, 5rem);
  /* --space-xl: 64px; */
  --space-xl: clamp(0.5rem, -0.577rem + 5.38vw, 4rem);
  --space-xxl: 80px;
  /* === font size ======================== */
  --title-h1: clamp(1.563rem, 1.428rem + 0.67vw, 2rem);
  --title-h2: clamp(1.375rem, 1.26rem + 0.58vw, 1.5rem);
  --title-h3: clamp(1rem, 0.923rem + 0.38vw, 1.25rem);
  --title-h4: 1rem;
  /* == text ==============================*/
  --text-xs: 0.75rem;
  --text-s: clamp(0.875rem, 0.4vw + 0.8rem, 1rem);
  --text-m: clamp(1rem, 0.5vw + 0.85rem, 1.125rem);
  --text-l: clamp(1.125rem, 0.5vw + 1rem, 1.5rem);
  --text-xl: clamp(1.5rem, 1vw + 1rem, 3rem);
}
